body {
	margin: 0;
}
video.bgvid {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(img/frame.jpg) no-repeat;
	background-size: cover;
}
.overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
}
.band {
	width: 100%;
	padding: 20px 0 18px;
	background: rgba(0,0,0,0.3);
	position: absolute;
	bottom: 40px;
	left: 0;
}
.band span {
	font-size: 3em;
}
.band a {
	margin: 0 14px;
	padding: 30px 0;
	color: #441503;
	text-decoration: none;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.band a:hover {
	color: #531A04;
}
.band a:first-child {
	margin-left: 60px;
}
@media screen and (max-width: 800px) {
	video {
		display: none;
	}
	html {
		height: 100%;
		background-image: url(img/frame.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;
	}
	.band {
		text-align: center;
	}
	.band a:first-child {
		margin-left: 0;
	}
	.band a {
		margin: 0 10px;
	}
}